<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>

    <div class="body">
        <div class="Register">

            <form method="post" action="/register">
                <div class="form-group">
                    <label for="user_id">User ID</label>
                    <input type="text" id="user_id" name="user_id" placeholder="Plaese enter your id" required>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Plaese enter your name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Please enter your university email"
                        required>
                </div>


                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Please enter your password"
                        required>
                </div>

                <button type="submit">Submit</button>
            </form>
            <a href="/templates/login.html" class="link">Already registered? Sign in</a>
            <div class="footer">Copyright © The cafe in Warwick. All rights reserved.</div>
        </div>
    </div>
</body>


</html>